[Unit]
Description=WPEFramework VoiceControl Initialiser
Wants=ctrlm-main.service
Requires=wpeframework-powermanager.service iarmbusd.service
After=wpeframework-powermanager.service iarmbusd.service ctrlm-main.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.VoiceControl
