[Unit]
Description=WPEFramework StorageManager Initialiser
Requires= wpeframework.service
After= wpeframework.service
ConditionPathExists=/opt/ai2managers

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.StorageManager
