[Unit]
Description=WPEFramework StorageManager Initialiser
Requires= wpeframework.service
After= wpeframework.service
ConditionPathExists=/opt/ai2managers
ConditionPathExists=/tmp/wpeframeworkstarted

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.StorageManager
ExecStop=/lib/rdk/deactivate_plugin.sh org.rdk.StorageManager

