# WPEFramework StorageManager Initialiser
# Activates the StorageManager plugin after framework initialization
[Unit]
Description=WPEFramework StorageManager Initialiser
Requires= wpeframework.service
After= wpeframework.service
ConditionPathExists=/opt/ai2managers
ConditionPathExists=/tmp/wpeframeworkstarted

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=30
TimeoutStopSec=10
PrivateTmp=yes
ExecStart=/usr/bin/PluginActivator org.rdk.StorageManager

[Install]
WantedBy=multi-user.target
