[Unit]
Description=WPEFramework Telemetry Initialiser
Requires=wpeframework-system.service wpeframework-powermanager.service wpeframework-usersettings.service
After=wpeframework-system.service wpeframework-powermanager.service wpeframework-usersettings.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.Telemetry
ExecStop=/lib/rdk/deactivate_plugin.sh org.rdk.Telemetry
