[Unit]
Description=WPEFramework FbSetting Initialiser
Requires=wpeframework.service wpeframework-appgateway.service
After=wpeframework.service wpeframework-appgateway.service
ConditionPathExists=/opt/appgatewayenabled

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.FbSettings
