[Unit]
Description=WPEFramework DAC LISA Plugin Initialiser
Requires=wpeframework.service iarmbusd.service dsmgr.service
After=wpeframework.service iarmbusd.service dsmgr.service

[Service]
Type=oneshot
ExecStart=/usr/bin/PluginActivator org.rdk.dac.lisa
RemainAfterExit=yes
