[Unit]
Description=WPEFramework PowerManager Initialiser
Requires=wpeframework.service iarmbusd.service
After=wpeframework.service iarmbusd.service 
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/echo "pluginactivator disabled for powermanager"
ExecStop=/bin/touch /tmp/pwrmgr_restarted
[Install]
WantedBy=multi-user.target
