[Unit]
Description=WPEFramework Analytics Initialiser
Requires=wpeframework.service wpeframework-persistentstore.service wpeframework-system.service wpeframework-privacy.service
After=wpeframework.service wpeframework-persistentstore.service wpeframework-system.service wpeframework-privacy.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.Analytics
