[Unit]
Description=WPEFramework Monitor Initialiser
Requires=wpeframework.service
After=wpeframework.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator Monitor
ExecStop=/lib/rdk/deactivate_plugin.sh org.rdk.
