[Unit]
Description=WPEFramework PersistentStore Initialiser
Requires=wpeframework.service
After=wpeframework.service securemount.service
ConditionPathExists=/tmp/wpeframeworkstarted
RequiresMountsFor=/opt/secure
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.PersistentStore
