[Unit]
Description=WPEFramework Messenger Initialiser
Requires=wpeframework.service
After=wpeframework.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator Messenger
