# WPEFramework UsbDevice Initialiser
# Activates the UsbDevice plugin after framework initialization
[Unit]
Description=WPEFramework UsbDevice Initialiser
Requires=wpeframework.service
After=wpeframework.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=30
TimeoutStopSec=10
PrivateTmp=yes
ExecStart=/usr/bin/PluginActivator org.rdk.UsbDevice

[Install]
WantedBy=multi-user.target
