# WPEFramework DisplayInfo Initialiser
# Activates the DisplayInfo plugin after framework initialization
[Unit]
Description=WPEFramework DisplayInfo Initialiser
Requires=wpeframework.service iarmbusd.service dsmgr.service
After=wpeframework.service iarmbusd.service dsmgr.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=30
TimeoutStopSec=10
PrivateTmp=yes
ExecStart=/usr/bin/PluginActivator DisplayInfo

[Install]
WantedBy=multi-user.target
