# WPEFramework RDKWindowManager Initialiser
# Activates the RDKWindowManager plugin after framework initialization
[Unit]
Description=WPEFramework RDKWindowManager Initialiser
Requires=wpeframework.service
After=wpeframework.service
ConditionPathExists=/opt/ai2managers
ConditionPathExists=/tmp/wpeframeworkstarted

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=30
TimeoutStopSec=10
PrivateTmp=yes
ExecStart=/usr/bin/PluginActivator org.rdk.RDKWindowManager

[Install]
WantedBy=multi-user.target
