[Unit]
Description=WPEFramework PowerManager Initialiser
Requires=wpeframework.service iarmbusd.service pwrmgr.service
After=wpeframework.service iarmbusd.service pwrmgr.service 
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/sh -c 'if [ -f /opt/SetPowerManagerEnv.sh ];then  source /opt/SetPowerManagerEnv.sh; fi'
ExecStart=/usr/bin/PluginActivator org.rdk.PowerManager
[Install]
WantedBy=multi-user.target
