[Unit]
Description=WPEFramework MediaSystem Initialiser
Requires=wpeframework.service mediarite.service
After=wpeframework.service mediarite.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.MediaSystem
