[Unit]
Description=WPEFramework FirmwareUpdate Initialiser
Requires=wpeframework.service
After=wpeframework.service
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.FirmwareUpdate
