[Unit]
Description=WPEFramework Cryptography Initialiser
Requires=wpeframework.service
After=wpeframework.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.Cryptography
ExecStop=/lib/rdk/deactivate_plugin.sh org.rdk.Cryptography
