[Unit]
Description=WPEFramework RemoteControl Initialiser
Requires=wpeframework-powermanager.service iarmbusd.service ctrlm-main.service
After=wpeframework-powermanager.service iarmbusd.service ctrlm-main.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.RemoteControl
