[Unit]
Description=WPEFramework PlayerInfo Initialiser
Requires=pwrmgr.service wpeframework.service iarmbusd.service dsmgr.service
After=pwrmgr.service wpeframework.service iarmbusd.service dsmgr.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator PlayerInfo
