[Unit]
Description=WPEFramework System Initialiser
Requires=wpeframework-powermanager.service sysmgr.service mfrmgr.service
After=wpeframework-powermanager.service sysmgr.service mfrmgr.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.System
ExecStop=/lib/rdk/deactivate_plugin.sh org.rdk.System
