[Unit]
Description=WPEFramework LocationSync Initialiser
Requires=wpeframework.service
After=wpeframework.service wpeframework-network.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator LocationSync
ExecStop=/lib/rdk/deactivate_plugin.sh LocationSync
