[Unit]
Description=WPEFramework DeviceInfo Initialiser
Requires=wpeframework.service iarmbusd.service dsmgr.service
After=wpeframework.service iarmbusd.service dsmgr.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator DeviceInfo
ExecStop=/lib/rdk/deactivate_plugin.sh DeviceInfo
