[Unit]
Description=WPEFramework CloudStore Initialiser
Requires=wpeframework-powermanager.service
After=wpeframework-powermanager.service
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.CloudStore
