[Unit]
Description=WPEFramework FbAsLinchPin Initialiser
Requires=wpeframework.service wpeframework-appgateway.service
After=wpeframework.service wpeframework-appgateway.service
ConditionPathExists=/tmp/wpeframeworkstarted

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.FbAsLinchPin

