[Unit]
Description=WPEFramework AVOutput Initialiser
Requires=wpeframework.service dsmgr.service wpeframework-avinput.service
After=wpeframework.service dsmgr.service wpeframework-avinput.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.AVOutput
