[Unit]
Description=WPEFramework SharedStorage Initialiser
Requires=wpeframework.service wpeframework-persistentstore.service wpeframework-cloudstore.service
After=wpeframework.service wpeframework-persistentstore.service wpeframework-cloudstore.service
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.SharedStorage
