[Unit]
Description=WPEFramework AVInput Initialiser
Requires=wpeframework.service dsmgr.service
After=wpeframework.service dsmgr.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.AVInput
ExecStop=/lib/rdk/deactivate_plugin.sh org.rdk.AVInput
