[Unit]
Description=WPEFramework SystemMode Initialiser
Requires=wpeframework-powermanager.service
After=wpeframework-powermanager.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.SystemMode
ExecStop=/lib/rdk/deactivate_plugin.sh org.rdk.SystemMode
