[Unit]
Description=Perf tracing for WPEFramework
DefaultDependencies=no
After=wpeframework.service
ConditionPathExists=/usr/bin/perf.sh

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh /usr/bin/perf.sh

[Install]
WantedBy=wpeframework.service
