[Unit]
Description=WPEFramework Telemetry Initialiser
Requires=wpeframework-system.service wpeframework-powermanager.service wpeframework-usersettings.service
After=wpeframework-system.service wpeframework-powermanager.service wpeframework-usersettings.service
PartOf=wpeframework.service
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.Telemetry
