[Unit]
Description=WPEFramework AudioOutput Initialiser
Requires=dsmgr.service wpeframework.service wpeframework-displaysettings.service
After=dsmgr.service wpeframework.service wpeframework-displaysettings.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.AudioOutput
