# WPEFramework AppGateway Initialiser
# Activates the AppGateway plugin after framework initialization
[Unit]
Description=WPEFramework AppGateway Initialiser
Requires=wpeframework.service wpeframework-appnotifications.service
After=wpeframework.service wpeframework-appnotifications.service
ConditionPathExists=/tmp/wpeframeworkstarted
ConditionPathExists=/opt/appgatewayenabled

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=30
TimeoutStopSec=10
PrivateTmp=yes
ExecStart=/usr/bin/PluginActivator org.rdk.AppGateway

[Install]
WantedBy=multi-user.target
