[Unit]
Description=WPEFramework Telemetry Initialiser
Requires=wpeframework.service iarmbusd.service
After=wpeframework.service iarmbusd.service
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.Telemetry
