[Unit]
Description=WPEFramework AudioOutput Initialiser
Requires=dsmgr.service 
After=dsmgr.service 
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.AudioOutput
