[Unit]
Description=WPEFramework OCDM Initialiser
Requires=wpeframework.service
After=wpeframework.service
PartOf=wpeframework.service
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator -r 200 OCDM
