[Unit]
Description=WPEFramework System Initialiser
Requires=wpeframework-telemetry.service sysmgr.service mfrmgr.service
After=wpeframework-telemetry.service sysmgr.service mfrmgr.service
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.System
