[Unit]
Description=WPEFramework TelemetryMetrics Initialiser
Requires= wpeframework.service
Wants= wpeframework-rdkwindowmanager.service
After= wpeframework.service wpeframework-rdkwindowmanager.service
ConditionPathExists=/etc/rdkappmanagers
ConditionPathExists=/tmp/wpeframeworkstarted

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.TelemetryMetrics

