[Unit]
Description=WPEFramework RDKWindowManager Initialiser
Requires=wpeframework.service
After=wpeframework.service
ConditionPathExists=/opt/ai2managers
ConditionPathExists=/tmp/wpeframeworkstarted

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.RDKWindowManager
ExecStop=/lib/rdk/deactivate_plugin.sh org.rdk.RDKWindowManager

