[Unit]
Description=WPEFramework HdmiCecSource Initialiser
Requires=wpeframework.service
After=wpeframework-powermanager.service dsmgr.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.HdmiCecSource
ExecStop=/lib/rdk/deactivate_plugin.sh org.rdk.HdmiCecSource
