# WPEFramework SystemMode Initialiser
# Activates the SystemMode plugin after framework initialization
[Unit]
Description=WPEFramework SystemMode Initialiser
Requires=wpeframework.service
After=wpeframework.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=30
TimeoutStopSec=10
PrivateTmp=yes
ExecStart=/usr/bin/PluginActivator org.rdk.SystemMode

[Install]
WantedBy=multi-user.target
