[Unit]
Description=WPEFramework Xcast Initialiser
Requires=wpeframework-powermanager.service wpeframework-network.service
After=wpeframework-powermanager.service wpeframework-network.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.Xcast
