[Unit]
Description=WPEFramework System Initialiser
Requires=wpeframework-powermanager.service sysmgr.service mfrmgr.service wpeframework-deviceinfo.service wpeframework-firmwareupdate.service wpeframework-telemetry.service wpeframework-migration.service
After=wpeframework-powermanager.service sysmgr.service mfrmgr.service wpeframework-deviceinfo.service wpeframework-firmwareupdate.service wpeframework-telemetry.service wpeframework-migration.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.System
