[Unit]
Description=WPEFramework StorageManager Initialiser
Requires= wpeframework.service
Wants= wpeframework-rdkwindowmanager.service
After= wpeframework.service wpeframework-rdkwindowmanager.service
ConditionPathExists=/opt/ai2managers
ConditionPathExists=/tmp/wpeframeworkstarted

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.AppStorageManager

