[Unit]
Description=WPEFramework RuntimeManager Initialiser
Requires= wpeframework.service wpeframework-storagemanager.service wpeframework-ocicontainer.service
After= wpeframework.service wpeframework-storagemanager.service wpeframework-rdkwindowmanager.service wpeframework-ocicontainer.service
Wants=  wpeframework-rdkwindowmanager.service
ConditionPathExists=/opt/ai2managers
ConditionPathExists=/tmp/wpeframeworkstarted

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.RuntimeManager


