[Unit]
Description=WPEFramework DownloadManager Initialiser
Requires= wpeframework.service wpeframework-storagemanager.service
After= wpeframework.service wpeframework-storagemanager.service
ConditionPathExists=/opt/ai2managers
PartOf=wpeframework.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.DownloadManager

