# WPEFramework RuntimeManager Initialiser
# Activates the RuntimeManager plugin after framework initialization
[Unit]
Description=WPEFramework RuntimeManager Initialiser
Requires= wpeframework.service wpeframework-storagemanager.service wpeframework-rdkwindowmanager.service wpeframework-ocicontainer.service
After= wpeframework.service wpeframework-storagemanager.service wpeframework-rdkwindowmanager.service wpeframework-ocicontainer.service
ConditionPathExists=/opt/ai2managers
ConditionPathExists=/tmp/wpeframeworkstarted

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=30
TimeoutStopSec=10
PrivateTmp=yes
ExecStart=/usr/bin/PluginActivator org.rdk.RuntimeManager

[Install]
WantedBy=multi-user.target
