[Unit]
Description=WPEFramework AppActions Initialiser
Requires=wpeframework.service wpeframework-appgatewaycommon.service
After=wpeframework.service wpeframework-appgatewaycommon.service
ConditionPathExists=/tmp/wpeframeworkstarted

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=30
TimeoutStopSec=10
ExecStart=/usr/bin/PluginActivator org.rdk.AppActions
