[Unit]
Description=WPEFramework VoiceControl Initialiser
Requires=pwrmgr.service wpeframework.service iarmbusd.service ctrlm-main.service
After=pwrmgr.service wpeframework.service iarmbusd.service ctrlm-main.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.VoiceControl
