[Unit]
Description=WPEFramework DAC LISA Plugin Initialiser
Requires=wpeframework.service iarmbusd.service wpeframework-devicesettings.service
After=wpeframework.service iarmbusd.service wpeframework-devicesettings.service
ConditionPathExists=/tmp/wpeframeworkstarted
ConditionPathExists=!/etc/rdkappmanagers

[Service]
Type=oneshot
ExecStart=/usr/bin/PluginActivator LISA
RemainAfterExit=yes
