[Unit]
Description=WPEFramework NetworkManager Initialiser
Requires=wpeframework.service iarmbusd.service NetworkManager.service
After=wpeframework.service iarmbusd.service NetworkManager.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/nm_interface_handler.sh
ExecStart=/usr/bin/PluginActivator org.rdk.NetworkManager
