[Unit]
Description=WPEFramework DisplayInfo Initialiser
Requires=wpeframework.service wpeframework-powermanager.service iarmbusd.service dsmgr.service
After=wpeframework.service wpeframework-powermanager.service iarmbusd.service dsmgr.service
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator DisplayInfo
