# WPEFramework AVInput Initialiser
# Activates the AVInput plugin after framework initialization
[Unit]
Description=WPEFramework AVInput Initialiser
Requires=wpeframework.service dsmgr.service
After=wpeframework.service dsmgr.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=30
TimeoutStopSec=10
PrivateTmp=yes
ExecStart=/usr/bin/PluginActivator org.rdk.AVInput

[Install]
WantedBy=multi-user.target
