[Unit]
Description=WPEFramework OttServices Initialiser
BindsTo=badgerprecheck.service
Requires=wpeframework.service wpeframework-launchdelegate.service wpeframework-appgateway.service badgerprecheck.service
After=wpeframework.service wpeframework-launchdelegate.service wpeframework-appgateway.service badgerprecheck.service
ConditionPathExists=/tmp/wpeframeworkstarted
ConditionPathExists=/opt/badgerenabled

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.OttServices

