[Unit]
Description=WPEFramework HdmiCecSource Initialiser
Requires=wpeframework.service
After=wpeframework-powermanager.service dsmgr.service
PartOf=wpeframework.service
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.HdmiCecSource
