[Unit]
Description=WPEFramework DisplaySettings Initialiser
Requires=wpeframework-powermanager.service wpeframework-devicesettings.service
After=wpeframework-powermanager.service wpeframework-devicesettings.service
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.DisplaySettings
