[Unit]
Description=WPEFramework Bluetooth Initialiser
Requires=wpeframework-powermanager.service iarmbusd.service btmgr.service
After=wpeframework-powermanager.service iarmbusd.service btmgr.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.Bluetooth
ExecStop=/lib/rdk/deactivate_plugin.sh org.rdk.Bluetooth
