[Unit]
Description=WPEFramework Wifi Initialiser
Requires=wpeframework.service iarmbusd.service wpeframework-networkmanager.service
After=wpeframework.service iarmbusd.service wpeframework-networkmanager.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.Wifi
ExecStop=/lib/rdk/deactivate_plugin.sh org.rdk.Wifi
