[Unit]
Description=WPEFramework Bluetooth Initialiser
Requires=wpeframework-powermanager.service iarmbusd.service btmgr.service
After=wpeframework-powermanager.service iarmbusd.service btmgr.service
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.Bluetooth
