[Unit]
Description=WPEFramework Privacy Initialiser
Requires=wpeframework.service wpeframework-authservice.service wpeframework-persistentstore.service
After=wpeframework.service wpeframework-authservice.service wpeframework-persistentstore.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.Privacy
