[Unit]
Description=WPEFramework DisplayInfo Initialiser
Requires=wpeframework.service iarmbusd.service wpeframework-devicesettings.service
After=wpeframework.service iarmbusd.service wpeframework-devicesettings.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator DisplayInfo
