# WPEFramework PackageManagerRDKEMS Initialiser
# Activates the PackageManagerRDKEMS plugin after framework initialization
[Unit]
Description=WPEFramework PackageManagerRDKEMS Initialiser
Requires= wpeframework.service wpeframework-storagemanager.service
After= wpeframework.service wpeframework-storagemanager.service
ConditionPathExists=/opt/ai2managers
ConditionPathExists=/tmp/wpeframeworkstarted

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=30
TimeoutStopSec=10
PrivateTmp=yes
ExecStart=/usr/bin/PluginActivator org.rdk.PackageManagerRDKEMS

[Install]
WantedBy=multi-user.target
