[Unit]
Description=WPEFramework CloudStore Initialiser
Requires=wpeframework.service
After=wpeframework.service
PartOf=wpeframework.service
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.CloudStore
