[Unit]
Description=WPEFramework SystemMode Initialiser
Requires=wpeframework.service wpeframework-powermanager.service
After=wpeframework.service wpeframework-powermanager.service
PartOf=wpeframework.service
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.SystemMode
