[Unit]
Description=WPEFramework MaintenanceManager Initialiser
Requires=wpeframework.service iarmbusd.service mfrmgr.service pwrmgr.service wpeframework-network.service
After=wpeframework.service iarmbusd.service mfrmgr.service pwrmgr.service wpeframework-network.service
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.MaintenanceManager
