# pressure sampler
[Unit]
Description=Pressure sampler for boot trace
After=local-fs.target
Before=wpeframework.service
ConditionPathExists=/opt/resource_monitor_runq_latency.sh

[Service]
Type=oneshot
Environment=OUTDIR=/opt/logs
ExecStart=/bin/sh /opt/resource_monitor_runq_latency.sh capture

[Install]
WantedBy=sysinit.target
