# WPEFramework LifecycleManager Initialiser
# Activates the LifecycleManager plugin after framework initialization
[Unit]
Description=WPEFramework LifecycleManager Initialiser
Requires= wpeframework.service wpeframework-runtimemanager.service
After= wpeframework.service wpeframework-runtimemanager.service
ConditionPathExists=/opt/ai2managers
ConditionPathExists=/tmp/wpeframeworkstarted

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=30
TimeoutStopSec=10
PrivateTmp=yes
ExecStart=/usr/bin/PluginActivator org.rdk.LifecycleManager

[Install]
WantedBy=multi-user.target
