[Unit]
Description=WPEFramework DownloadManager Initialiser
Requires= wpeframework.service wpeframework-appstoragemanager.service
After= wpeframework.service wpeframework-appstoragemanager.service
ConditionPathExists=/opt/ai2managers
ConditionPathExists=/tmp/wpeframeworkstarted

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.DownloadManager

