[Unit]
Description=WPEFramework DAC LISA Plugin Initialiser
Requires=wpeframework.service iarmbusd.service dsmgr.service
After=wpeframework.service iarmbusd.service dsmgr.service
ConditionPathExists=/tmp/wpeframeworkstarted

[Service]
Type=oneshot
ExecStart=/usr/bin/PluginActivator LISA
ExecStop=/lib/rdk/deactivate_plugin.sh LISA
RemainAfterExit=yes
