[Unit]
Description=WPEFramework PersistentStore Initialiser
Requires=wpeframework.service
After=wpeframework.service securemount.service
PartOf=wpeframework.service
RequiresMountsFor=/opt/secure
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.PersistentStore
