# WPEFramework HdcpProfile Initialiser
# Activates the HdcpProfile plugin after framework initialization
[Unit]
Description=WPEFramework HdcpProfile Initialiser
Requires=wpeframework-powermanager.service dsmgr.service
After=wpeframework-powermanager.service dsmgr.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=30
TimeoutStopSec=10
PrivateTmp=yes
ExecStart=/usr/bin/PluginActivator org.rdk.HdcpProfile

[Install]
WantedBy=multi-user.target
