[Unit]
Description=WPEFramework TelemetryMetrics Initialiser
Requires= wpeframework.service wpeframework-system.service
After= wpeframework.service wpeframework-system.service
ConditionPathExists=/opt/ai2managers
ConditionPathExists=/tmp/wpeframeworkstarted

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.TelemetryMetrics

