# WPEFramework NetworkManager Initialiser
# Activates the NetworkManager plugin after framework initialization
[Unit]
Description=WPEFramework NetworkManager Initialiser
Requires=wpeframework.service iarmbusd.service NetworkManager.service
After=wpeframework.service iarmbusd.service NetworkManager.service
ConditionPathExists=/tmp/wpeframeworkstarted
[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=30
TimeoutStopSec=10
PrivateTmp=yes
ExecStart=/usr/bin/PluginActivator org.rdk.NetworkManager

[Install]
WantedBy=multi-user.target
