[Unit]
Description=WPEFramework NetworkManager Initialiser
Requires=wpeframework.service iarmbusd.service NetworkManager.service
After=wpeframework.service iarmbusd.service NetworkManager.service
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/PluginActivator org.rdk.NetworkManager
